<%= render 'form' %>

<div id="map-canvas"></div>

<h3>Landmarks near to <%= @poi.name %> (ordered by distance)</h3>

<ul class="nearby">
  <% @nearby_pois.each do |poi| %>
    <%= content_tag :li, poi.name %>
  <% end %>
</ul>

<%= content_for :head do %>
  <%= render 'map' %>
<% end %>
